body {
    font-family:
        Whitney,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    background-color: #101010;
    color: lightgray;
    text-rendering: optimizelegibility;
    overflow-x: clip;
}

a {
    color: #6d97c0;
}

a:hover {
    color: #70b7cf;
}

.command-line {
    font-family:
        MesloLGM Nerd Font,
        monospace;
    font-size: 0.8rem;
    white-space: pre;
}

.body-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.fetch-wrapper {
    display: flex;
    gap: 1rem;
}

.fastfetch-image {
    max-height: 21rem;
}

.fetch-text-wrapper {
    display: grid;
    height: min-content;
}

.grid {
    display: grid;
}

.command-line input {
    caret-shape: block;
    background: transparent;
    color: lightgray;
    border: none;
    width: -moz-available;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: MesloLGM Nerd Font;
    font-size: 0.8rem;
}

.command-input {
    margin-top: -0.025rem;
    /* 
    I have no clue why a certain amount of padding is built in and not avoidable,
    I am getting rid of it here.
    */
}
